<script id='MainTemplate' type="text/simple-template">
        <div class="panel panel-header">
           <h3 class="box-title">设备类型</h3> 
                
        </div>
        <div class="panel panel-default">
            <!-- form start -->
            <div role="form">
                <div class="box-body">

                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">设备型号</label>
                        <input type="text" value ="AH-001" class="form-control" id="add-model" placeholder="Enter MOdel">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">设备名称</label>
                        <input type="text" value ="空调" class="form-control" id="add-name" placeholder="Enter Name">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <input type="text" value ="设备描述" class="form-control" id="add-desc" placeholder="Enter Description">
                    </div>
                    



                    <div class="form-group">
						 <label for="exampleInputEmail1">设备图片</label>
                      	 <input type="text" value ="test.png" class="form-control" id="add-pic" placeholder="Enter Image" />
	
                    </div>

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary btn-saveAddNew">保存修改</button>
                </div>
            </div>
        </div><!-- /.box -->

</script>

<script type="text/javascript">
  	function changePicUrl(){
		var dFile = document.getElementById('file');
		var dImg = document.getElementById('pic');
 		if(dFile.files){
  			dImg.src = dFile.files[0].name;
 		}else if(dFile.value.indexOf('\\') > -1 || dFile.value.indexOf('\/') > -1){
  			dImg.src = dFile.value;
 		}
	}
  	function uploadSucced(msg,id,path){
  		
  		$("#picId").html(id);	
  		$("#picPath").html(path);	
  		
		$("#firstUploadSucceedMsg").html(msg);
		$("#firstUploadSucceed").show();
		$("#firstUploadFailed").hide();
		var dImg = document.getElementById('pic');
  		dImg.src=path;
	}
	//表单提交修改失败后，传回提示信息
	function uploadFailed(msg){
		$("#firstUploadFailedMsg").html(msg);
		$("#firstUploadFailed").show();
		$("#firstUploadSucceed").hide();
	}
   </script>
	<form method="POST" enctype="multipart/form-data" action="/files/upload" target="hidden_frame">

		<img name="pic" id="pic" alt="" src="" />
		<p> 文件：<input id="file" type="file" name="file" onchange="changePicUrl()" /> </p>
           <p><input type="submit" value="上传" /> </p>
		
		
		 <div id="firstUploadSucceed" style="display: none;">
                <strong>新增成功！</strong><span id="firstUploadSucceedMsg"></span>
            </div>
            <div id="firstUploadFailed" style="display: none;">
                <strong>对不起！新增失败</strong><span id="firstUploadFailedMsg"></span>
            </div>
	</form>
   <div id ="picId" style='display:none' data-picId="0"> </div>
   <div id ="picPath" style='display:none' data-picPath="0"> </div>
   <iframe name='hidden_frame' id="hidden_frame" style='display:none'></iframe>
