<script id='MainTemplate' type="text/simple-template">
        <div class="panel panel-header">
            <h3 class="box-title">level</h3>
                
        </div>
        <div class="panel panel-default">
            <!-- form start -->
            <div role="form">
                <div class="box-body">

                    
                     <div class="form-group">
                         <input type="hidden" value ="<%=data.id%>" class="form-control" id="edit-id" placeholder="Enter email">
                    </div>

                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">名称</label>
                        <input type="text" value ="<%=data.name%>" class="form-control" id="edit-name" placeholder="Enter email"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">阶层描述</label>
                        <input type="text" value ="<%=data.description%>" class="form-control" id="edit-description" placeholder="Enter email"/>
                    </div>
                    





         <!-- /file upload begin -->        

         <iframe name='hidden_frame' id="hidden_frame" style='display:none'></iframe>
         <!-- /file upload end -->

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary btn-saveUpdate">保存修改</button>
                </div>
            </div>
        </div><!-- /.box -->



<script type="text/javascript">
    var currentImageFieldId = "pic-id";
    function changePicUrl(){
        var dFile = document.getElementById('file');
    }
    function uploadCheck(fieldName){
        currentImageFieldId =fieldName;
        alert(fieldName);
        return true;
    }

    function uploadSucced(msg,id,path){
        var imageShow = "img-" + currentImageFieldId;
        var imagePath = "edit-" + currentImageFieldId;
        document.getElementById(imageShow).src=path;
        $("#"+imageShow).show();
        document.getElementById(imagePath).value = path;
        alert("Successful to upload file:" + path);

    }
    //表单提交修改失败后，传回提示信息
    function uploadFailed(msg){
        alert("Failed to upload file INFO:" + msg);
    }
</script>
</script>
